.infoCards {
  margin: auto;
  margin-right: 20%;
}

.card1 {
  float: right;
  padding-left: 1%;
}

.card2 {
  float: right;
  padding-left: 1%;
}

.card3 {
  float: right;
  padding-left: 1%;
}

.card4 {
  float: right;
  padding-left: 1%;
}

.card5 {
  float: right;
  padding-left: 1%;
}

.navBar {
  float: left;
}

.table1 {
  float: right;
  margin-right: 33%;
  margin-top: 2%;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}